h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
}

.contacts form{
    background-color: lightgray;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding: 50px;
    gap: 10px;
    border-radius: 50px;
}

.contacts h2{
    justify-content: center;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    color: white;
}

.contacts input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid lightgray;
    width: 400px;
}

.contacts button{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

.clickables{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    padding: 10px;
}

.clickables img{
    width: 30px;
}