body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    border: none;
    background-color: black;
    display: flex;
    position: sticky;
    top: 0;
}

.navbar h1 {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 80px;
    user-select: none;
}

.navbar .pages {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 30px;
}

.navbar .pages button {
    cursor: pointer;
    padding: 50px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: 15px;
    transition: background-color 500ms ease-out;
}

.navbar .pages button:hover {
    background-color: rgb(30, 30, 30);
}

.clickables{
    padding-top: 50px;
    margin-top: 190px;
    display: flex;
    padding-right: 180px;
    float: right;
    flex-direction: column;
    gap: 20px;
}

.clickables img{
    width: 50px;
}

.about {
    display: flex;
    user-select: none;
    padding-top: 50px;
}

.about img {
    display: flex;
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 200px;
    padding-bottom: 150px;
    width: 30%;
    border-radius: 50%;
}

.about .text{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.about .name h2 {
    display: flex;
    font-size: 40px;
    font-family: Helvetica;
    margin: 0px;
}

.about .univ h3 {
    display: flex;
    font-size: 20px;
    font-family: Helvetica;
    margin: 0px;
}

.about .stud h3 {
    display: flex;
    font-size: 15px;
    font-family: Helvetica;
    margin-top: 5px;
    color: gray;
}

.about .sum {
    font-size: 20px;
    font-family: helvetica;
    height: 300px;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
}

.project_anchor {
    display: block;
    position: relative;
    top: -100px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 130px;
    font-family: helvetica;
    padding-bottom: 200px;
}

.projects .lyrical {
    margin-top: -50px;
}

.projects .lyrical img {
    display: absolute;
    margin-top: -230px;
    margin-right: 200px;
    float: right;
    width: 200px;
}

.projects .belize img {
    display: absolute;
    margin-top: -235px;
    margin-right: 150px;
    float: right;
    width: 300px;
}

.contacts form{
    background-color: lightgray;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding: 50px;
    gap: 10px;
}

.contacts h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    color: white;
}

.contacts input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid lightgray;
    width: 400px;
}

.contacts button{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}