body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.alert {
    padding: 20px;
    background-color: rgb(247, 82, 82);
    color: white;
    margin-bottom: 15px;
    font-family: helvetica;
    margin-bottom: -5px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.navbar {
    z-index: 1;
    border: none;
    background-color: black;
    display: flex;
    position: sticky;
    top: 0;
}

.navbar h1 {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 80px;
    user-select: none;
}

.navbar .pages {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 30px;
}

.navbar .pages button {
    cursor: pointer;
    padding: 50px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: 15px;
    transition: background-color 500ms ease-out;
}

.navbar .pages button:hover {
    background-color: rgb(30, 30, 30);
}

.clickables{
    padding-top: 50px;
    margin-top: 190px;
    display: flex;
    padding-right: 180px;
    float: right;
    flex-direction: column;
    gap: 20px;
}

.clickables img{
    width: 50px;
}

.about {
    display: flex;
    user-select: none;
    padding: 30px;
    padding-bottom: 50px;
}

.about img {
    display: flex;
    margin-left: 50px;
    padding: 100px;
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.about .text{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.about .name h2 {
    display: flex;
    font-size: 40px;
    font-family: Helvetica;
    margin: 0px;
}

.about .univ h3 {
    display: flex;
    font-size: 20px;
    font-family: Helvetica;
    margin: 0px;
}

.about .stud h3 {
    display: flex;
    font-size: 15px;
    font-family: Helvetica;
    margin-top: 5px;
    color: gray;
}

.about .sum {
    font-size: 20px;
    font-family: helvetica;
    height: 300px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
}

.blog_anchor {
    display: block;
    position: relative;
    top: -100px;
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
}

.blog iframe {
    z-index: 0;
    border: none;
    width: 1000px;
    height: 800px;
}

.project_anchor {
    display: block;
    position: relative;
    top: -150px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 130px;
    font-family: helvetica;
    padding-bottom: 100px;
}

.projects h1 {
    margin-top: -50px;
    margin-left: -100px;
}

.projects .lyrical {
    margin-top: -50px;
}

.projects .lyrical img {
    display: absolute;
    margin-top: -230px;
    margin-right: 200px;
    float: right;
    width: 200px;
}

.projects .nasa {
    margin-top: -50px;
}

.projects .nasa img {
    display: absolute;
    margin-top: -230px;
    margin-right: 200px;
    float: right;
    width: 200px;
}

.projects .belize img {
    display: absolute;
    margin-top: -235px;
    margin-right: 150px;
    float: right;
    width: 300px;
}

.more {
    background-color: rgb(241, 241, 241);
}

.more h2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-family: helvetica;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: -100px;
}

.more .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px
}

.more .buttons img{
    width: 50px;
}
